- if service_name != "Sharetribe"
  %h2 #{service_name} Terms of Use

  %p
    Thanks for joining #{service_name}! We’re excited to improve the way the people share outdoor equipment and sporting gear. This document sets out the contractual terms for your participation in the PeerGear marketplace. The terms are legally binding on you, so it’s very important that you read and understand them in their entirety. 

  %p
    The below terms apply to all users of the PeerGear marketplace. All terms stated below, together with PeerGear’s Privacy Policy, constitute the “Agreement” between you and PeerGear. #{service_name} may change the terms of the Agreement from time to time, and in its sole discretion. PeerGear will provide you with notice regarding any changes, as it deems necessary, either on this page, via email or through some other reasonable method.

  %h3 General
  %p
    This Agreement was last revised on 4 May 2015. 

  %p
    Welcome to PeerGear, a peer-to-peer rental marketplace for outdoor sports equipment (the "Site") provided by PeerGear, Ltd. ("PeerGear" "we," or "us"). These Terms of Service ("Terms") describe the terms and conditions that govern your use of and participation in PeerGear services, including our website, web widgets, feeds, mobile device software applications ("Apps"), applications for third-party web sites and services, and any other mobile or web services or applications offered by PeerGear (collectively the "Service").

  %p
    For the purposes of these Terms, "you" means each person using the Service. All visitors, users, and others who access the Site and/or Service, including you and any persons that you authorize to use your account, may be referred to in these Terms as the "User."

  %p
    By accessing or using the Service, you agree to be bound by these terms, as amended from time to time. If you do not agree to these Terms, you are prohibited from using or accessing the Site or the Service.

  %h3 Our Service
  %p
    PeerGear provides a forum and service to connect owners of outdoor sports equipment, such as a bicycle, surfboard, tent, or snowboard (each an item of "Gear") interested in making their equipment available for rent ("Lenders") and individuals interested in renting Gear ("Borrowers"). 

  %h3 Key Terms
  %p
    • “Site” means the P2P and B2C rental marketplace for outdoors and sporting equipment, as provided by PeerGear Ltd.
  %p
    • “User” means a person using the site or its related applications, whether registered or unregistered, listing or borrowing Gear through the Site. 
  %p
    • “Member” means a User who completes PeerGear’s registration process.
  %p
    • “Gear” means all items of sporting equipment or outdoors equipment listed for rental on the Site. 
  %p
    • “Lender” means a Member who owns Gear, and who is interested in making their Gear available for rental to other Users.
  %p
    • “Borrower” means a Member interested in borrowing Gear from a Lender via the Site or its related applications.
  %p
    • “Listing” means a listing of Gear posted by a Lender that enables Borrowers to make an offer to the Lender for the potential rental of that item of Gear.

  %h3 PeerGear only provides a Platform
  %p
    The Service is a marketplace platform for enabling connections between Members and for facilitating the mutually beneficial exchange of Gear and fees. 

  %p
    PeerGear does not: 
  %p
    • participate in the interaction between Members;
  %p
    • have control over the quality, reliability, integrity, accuracy, legality, truthfulness, or any other aspect whatsoever of any ratings or reviews provided by Members or Users, whether in public, private, authorised or offline interactions; and
  %p
    • assume any responsibility for the accuracy or reliability of ratings information, Listing information or any other information provided through the service.
  %p
    PeerGear cannot confirm that each Member is actually who they claim to be. 
  %p
    Neither PeerGear nor its affiliates or licensors is responsible for the conduct, whether online or offline, of any Member or User of the Service. PeerGear and its affiliates and licensors will not be liable for any claim, injury or damage arising in connection with your use of the Service. 

  %p
    PeerGear provides a marketplace that enables Gear rental service between Lenders and Borrowers. PeerGear is not responsible for any of the acts or omissions of any of the Members or Users, the manufacturer of the Gear or any third party provider of services. Except as expressly provided in this Agreement, PeerGear hereby disclaims any warranty of any kind with respect to the products and services provided by or through PeerGear, whether such warranties are express, implied, statutory or otherwise, including warranties of merchantability, fitness for a particular purpose and non-infringement. 

  %p
    PeerGear makes no warranty that the Service will be uninterrupted or secure or that any defects or errors will be corrected. Use of the Service, and any assets rented through the marketplace, is at your own risk. No advice or information, whether oral or written, obtained by you from PeerGear will create any express warranty. 

  %p
    The terms of this section will apply only to the extent allowed by applicable law.

  %h3 Liability in Outdoor Recreation and Activities 
  %p
    You recognize and acknowledge that outdoor activities are inherently dangerous and unpredictable. You further acknowledge that you may be subjected to risk, dangers and hazards that could result in illness, bodily injury, death, or loss of personal property; that these inherent risks, dangers and hazards may arise at any time, including but not limited to, falling, falling objects, drowning, temperature exposure, gear failure, improper use of gear, inadequate or improper instruction or assistance, exposure to wild animals including poisonous animals, insects, debris, plants, unpredictable forces of nature, inclement weather, dehydration, unsanitary food and hydration. We are not responsible for any accidents that may arise from your activity or use of Gear, and you hereby agree to indemnify us from any claims, charges or costs arising from your use of Gear or any related activities. We do not expressly or otherwise guarantee or warrant the Gear for any specific performance or purpose other than as it is described. 

  %h3 Member Accounts
  %p   
    In order to borrow or lend Gear on PeerGear, you will need to establish a member account ("Account"). By applying for an Account, you give us permission to disclose certain of your personal information to third parties for verification purposes, and to obtain additional information about you. PeerGear may accept or reject account applications in our sole discretion.
    
  %p
    Your Account is for your personal use only. You may not create an Account on behalf of a business or entity. You may not use another member's Account, permit anyone else to use your Account, or assign or otherwise transfer your Account to any other person or entity. When applying for and creating your Account, you must provide accurate and complete information, and keep such information updated and accurate throughout the term of these Terms. You are solely responsible for the activity that occurs on your account, and you must keep your account password secure. You must notify PeerGear immediately of any breach of security or unauthorized use of your Account. PeerGear will not be liable for any losses caused by any unauthorized use of your Account.

  %p
    You may control your Member profile and how you interact with the Service by changing the options in your Settings page. By providing PeerGear your email address, you consent to our using the email address to send you Service-related email, including any notices required by law, in lieu of communication by postal mail. By providing PeerGear your cell phone number, you consent to our using the phone number to send you Service-related SMS messages. You may not opt out of Service-related emails or SMS messages. We may also use your email address and/or cell phone number to send you other messages, such as changes to features of the Service and special offers. If you do not want to receive such messages, you may opt out or change your preferences in your Settings page. Opting out may prevent you from receiving messages regarding updates, improvements or offers.


  %h3 Rental Confirmations and Feedback
  %p
    When you use the Service to conduct a Rental, you will be required to agree to a rental contract. The Rental Contract is an agreement between a Lender and a Borrower. PeerGear is not a party to the Rental Contract.
    Both Lenders and Borrowers are encouraged to submit feedback to the Service following the completion of each Rental. We may block you from any further use of the Service until you have submitted such feedback.
    
  %h3 Service Rules
  %p
    In using the Service or the App, you agree not to engage in any of the following prohibited activities:

  %p
    • copying, distributing, or disclosing any part of the Service in any medium, including without limitation by any automated or non-automated "scraping";

  %p
    • using any automated system, including without limitation "robots," "spiders," "offline readers," etc., to access the Service in a manner that sends more request messages to the PeerGear servers than a human can reasonably produce in the same period of time by using a conventional on-line web browser except that PeerGear grants the operators of public search engines revocable permission to use spiders to copy materials from PeerGear.io for the sole purpose of and solely to the extent necessary for creating publicly available searchable indices of the materials, but not caches or archives of such materials;

  %p
    • transmitting spam, chain letters, or other unsolicited email;

  %p
    • attempting to interfere with, compromise the system integrity or security or decipher any transmissions to or from the servers running the Service;

  %p
    • using the Site, App or Service in any manner to circumvent or secure a rental outside of the Service or to avoid fees payable to PeerGear in connection with your use of the Service;

  %p
    • taking any action that imposes, or may impose at our sole discretion an unreasonable or disproportionately large load on our infrastructure;

  %p
    • uploading invalid data, viruses, worms, or other software agents through the Service;

  %p
    • collecting or harvesting any personally identifiable information, including account names, from the Service;

  %p
    • using the Service for any commercial solicitation purposes;

  %p
    • impersonating another person or otherwise misrepresenting your affiliation with a person or entity, conducting fraud, hiding or attempting to hide your identity;

  %p
    • interfering with the proper working of the Service;

  %p
    • accessing any content on the Service through any technology or means other than those provided or authorized by the Service;

  %p
    • or bypassing the measures we may use to prevent or restrict access to the Service, including without limitation features that prevent or restrict use or copying of any content or enforce limitations on use of the Service or the content therein.

  %p
    PeerGear may permanently or temporarily terminate, suspend, or otherwise refuse to permit your access to the Service without notice and liability for any reason, including if in PeerGear's sole determination you violate any provision of these Terms. PeerGear also retains the right to remove or suspend listings for any reason, including a violation or suspected violation of these Terms. All aspects of the Service are subject to change or elimination at PeerGear's sole discretion. PeerGear reserves the right to interrupt the Service with or without prior notice for any reason. You agree that PeerGear will not be liable to you for any interruption of the Service, delay or failure to perform.

  %h3 User Content

  %p
    Some areas of the Service may allow you to post feedback, comments, questions, images and other information ("User Content"). You are solely responsible for any User Content that you upload, publish, display, link to or otherwise make available (hereinafter, "post") on the Service, and you agree that we are only acting as a passive conduit for your online distribution and publication of your User Content. You understand that PeerGear does not guarantee any confidentiality with respect to any User Content.

  %p
    You agree not to post User Content that: (i) may create a risk of harm, loss, physical or mental injury, emotional distress, death, disability, disfigurement, or physical or mental illness to you, to any other person, or to any animal; (ii) may create a risk of any other loss or damage to any person or property; (iii) seeks to harm or exploit children by exposing them to inappropriate content, asking for personally identifiable details or otherwise; (iv) may constitute or contribute to a crime or tort; (v) contains any information or content that we deem to be unlawful, harmful, abusive, racially or ethnically offensive, defamatory, infringing, invasive of personal privacy or publicity rights, harassing, humiliating to other people (publicly or otherwise), libellous, threatening, profane, or otherwise objectionable; (vi) contains any information or content that is illegal (including, without limitation, the disclosure of insider information under securities law or of another party's trade secrets); (vii) contains any information or content that you do not have a right to make available under any law or under contractual or fiduciary relationships; (viii) contains contact or other information in an attempt to circumvent the Service or avoid fees in connection with your use of the Service; or (ix) contains any information or content that you know is not correct and current.

  %p
    You agree that any User Content that you post does not and will not violate third- party rights of any kind, including without limitation any Intellectual Property Rights (as defined below), rights of publicity and privacy. PeerGear reserves the right, but is not obligated, to reject and/or remove any User Content that PeerGear believes, in its sole discretion, violates these provisions.

  %p
    For the purposes of these Terms, "Intellectual Property Rights" means all patent rights, copyright rights, moral rights, rights of publicity, trademark, trade dress and service mark rights, goodwill, trade secret rights and other intellectual property rights as may now exist or hereafter come into existence, and all applications therefore and registrations, renewals and extensions thereof, under the laws of any state, country, territory or other jurisdiction.

  %p
    PeerGear takes no responsibility and assumes no liability for any User Content that you or any other User or third party posts or sends over the Service. You understand and agree that any loss or damage of any kind that occurs as a result of the use of any User Content that you send, upload, download, stream, post, transmit, display, or otherwise make available or access through your use of the Service, is solely your responsibility. PeerGear is not responsible for any public display or misuse of your User Content. You understand and acknowledge that you may be exposed to User Content that is inaccurate, offensive, indecent, objectionable, or inappropriate for children, and you agree that PeerGear shall not be liable for any damages you allege to incur as a result of such User Content.

  %h3 Other Users

  %p
    You are solely responsible for your interactions with other PeerGear Users. We reserve the right, but have no obligation, to monitor disputes between you and other Users. PeerGear shall have no liability for your interactions with other Users, or for any Users action or inaction, with respect to Rentals or the Service. You acknowledge that PeerGear does not offer transportation services. Instead, the Service allows Lenders and Borrowers to transact Rentals directly with each other. While we may help facilitate successful transactions and the resolution of disputes, we do not guarantee the quality, safety, truth or accuracy of Rentals, User Content, or other services or transactions available via the Service.
    
  %p
    If you have a dispute with one or more Users, you release us (and our officers, directors, agents, subsidiaries, and employees) from claims, demands, and damages (actual and consequential) of every kind and nature, known and unknown, arising out of or in any way connected with such disputes or your use of the Services. 
  
  %h3 License Grant
    
  %p
    You retain all your ownership rights in your User Content. By posting any User Content on the Service, you expressly grant, and you represent and warrant that you have a right to grant, to PeerGear a royalty-free, sublicensable, transferable, perpetual, irrevocable, non-exclusive, worldwide license to use, reproduce, modify, publish, list information regarding, edit, translate, distribute, publicly perform, publicly display, and make derivative works of all such User Content and your name, voice, and/or likeness as contained in your User Content, in whole or in part, and in any form, media or technology, whether now known or hereafter developed, for use in connection with PeerGear's (and its successors and affiliates) business. You also hereby grant each User of the Service a non-exclusive license to access your User Content through the Service, and to use, reproduce, distribute, display and perform such User Content as permitted through the functionality of the Service and under these Terms.

  %h3 Fee Schedule and Billing Policies

  %p
    You agree to the fees and charges, terms of sale, payment and billing policies applicable to your use of the Service. PeerGear may add new services for additional fees and charges, or amend fees and charges for existing services, at any time in its sole discretion. All fees and charges for your use of the Service are non-refundable, except as may be expressly stated in these Terms.
    If you are a Borrower, PeerGear will charge your credit card according to the amount agreed upon between you and the Lender for the use of the Gear, and you hereby authorize us to charge your credit card for such amounts. Additionally, if you are a Borrower, PeerGear will charge your credit card according to the amount agree between you and us for commissions and necessary charges required for management and maintenance of the Service. PeerGear retains the right, in its sole discretion, to place a hold on any payment for a completed rental transaction.
        
  %p
    You will be liable for all transaction taxes on the services provided under these Terms (other than taxes based on PeerGear’s income).
    
  %p
    In connection with your requested rental, you will be asked to provide customary billing information such as name, billing address and credit card information either to PeerGear or its third party payment processor. You agree to pay PeerGear for any confirmed rentals made in connection with your PeerGear Account in accordance with these Terms by one of the methods described on the Site. You hereby authorize the collection of such amounts by charging the credit card provided as part of requesting the booking, either directly by PeerGear or indirectly, via a third party online payment processor or by one of the payment methods described on the Site or Application. If you are directed to PeerGear’s third party payment processor, you may be subject to terms and conditions governing use of that third party’s service and that third party’s personal information collection practices. Please review such terms and conditions and privacy policy before using the services. Once your confirmed rental transaction is complete you will receive a confirmation email summarizing your confirmed booking.
    
  %h3 Payments
    
  %p
    If you are a Lender, you may set the Rental fee for your Gear as permitted by the Service; provided, that you must list your Gear for a nominal value greater than £5  (i.e. you cannot list your Gear for free). PeerGear will remit payments due to you via PayPal, no later than thirty (30) days after the end of any calendar month in which the amount of fees due to you are received. PeerGear reserves the right to withhold payment or charge back to your account any amounts otherwise due to us under these Terms, or any amounts due as a result of a breach of these Terms by you, pending PeerGear's reasonable investigation of such breach. To ensure proper payment, you are solely responsible for providing and maintaining accurate contact and payment information associated with your account, which may include required tax information for certain Lender’s whose annual payments will exceed £500, or as otherwise required by applicable law. If we believe that we are obligated to obtain tax information and you do not provide this information to us after we have requested it, we may withhold your payments until you provide this information or otherwise satisfy us that you are not a person or entity from whom we are required to obtain tax information. 

  %p 
    You agree to pay all applicable taxes or charges imposed by any government entity in connection with your participation in the Service. If you dispute any payment made hereunder, you must notify PeerGear in writing within thirty (30) days of any such payment; failure to so notify PeerGear shall result in your waiver of any claim relating to any such disputed payment. Payment shall be calculated solely based on records maintained by PeerGear. No other measurements or statistics of any kind shall be accepted by PeerGear or have any effect under these Terms.

  %h3 Refunds and Cancellations

  %p
    In the event a rental is cancelled by either party at least twenty-four (24) hours prior to commencement of the Rental Period, then all funds shall be returned to Borrower.

  %p
    In the event that the rental is cancelled by the Borrower less than twenty-four (24) hours prior to commencement of the Rental Period, including after the beginning of the Rental Period or because the Borrower did not pick up the Gear at the agreed time and place, then the Borrower shall be charged the full rental price for the Rental as previously agreed via the Site.

  %p
    If upon delivery of the Gear or, within the first twenty-four (24) hours of the Rental Period, Borrower reasonably determines that the Ride does not materially conform to the Lender's description of the Gear, then the Borrower may notify PeerGear of the deficiency and request a refund.

  %p
    Further, if the Lender does not deliver the Gear at the place and time agreed, then Borrower shall be entitled to a full refund, but Lender will be charged the full commission that would have been payable to PeerGear in connection with the Rental.

  %p
    Refunds shall only be granted after completion of the Rental Period in extraordinary circumstances.

  %p
    PeerGear shall determine all refunds in its reasonable discretion. In the event either Lender or Borrower is not satisfied with PeerGear's determination, their sole recourse shall be to seek payment or refund of fees from the Lender or Borrower, as applicable.

  %p
    In the event of the failure of Lender or Borrower to appear for scheduled delivery of the Gear, the parties may choose to reschedule the Rental Period rather than accept the penalties or refunds set forth above. In such event the parties must arrange such rescheduled delivery through the Site, or otherwise notify PeerGear as soon as practicable.

  %p 
    Each party should be aware that Lenders and Borrowers are entitled to post reviews on the Site with respect to cancelled Rentals.

  %p 
    PeerGear has no obligation to provide refunds or credits, but may grant them in extenuating circumstances, as a result of specific refund guarantee promotions, or to correct any errors made by PeerGear, in each case in PeerGear’s sole discretion. 

  %h3 Delivery of Gear
    
  %p
    Once the Borrower and Lender have agreed on the rental of Gear through the Service, the method of delivery for pickup and return of Gear should also be agreed upon between the Borrower and Lender. PeerGear neither provides nor facilitates delivery services for the collection or return of Gear. 

  %p
    It is recommended that Lenders include preferred means of pickup and return in their Gear listing included on the Site. 


  %h3 Damage to Gear
    
  %p
    In the event of damage to Gear, Borrower shall pay the Lender for all losses and/or damage to Gear (except ordinary wear and tear that does not impact the usability of Gear), regardless of fault (e.g. Borrower agrees to pay for the loss even though someone else caused the damage or is at fault). Borrower is also responsible for all theft or vandalism losses, even if Borrower is not at fault for making the theft or vandalism possible, and regardless of any measures Borrower may have taken to secure or protect the Gear, including any instructions or security devices provided by Lender. If the Gear is damaged, Borrower agrees to pay the reasonable costs of repair and diminution in value, if any. 
    
  %p
    If the Gear is damaged beyond reasonable repair (as determined by the Lender), the Borrower shall be responsible for the retail fair market value of the Gear, less any salvage value (where applicable). In addition, the Borrower shall also be responsible for the reasonable downtime, or “loss of use”, reasonable administrative fees as determined by the Lender, plus any relevant haulage, owing, pickup and/or storage costs. 
    
  %p
    In the event of theft, Borrower shall be responsible for paying Loss of Use at the daily rate for each 24 hours that the Borrower delays in paying the total loss. Borrower is also responsible for any loss if the Borrower: (a) abuses the Gear or uses or operates the Gear other than as intended; (b) drives or uses the Gear recklessly; (c) drives or uses the Gear while under the influence of alcohol or a controlled substance; (d) fails to promptly report an accident to the police and Lender; (d) fails to complete an accident report; (e) obtains the Gear through fraud or misrepresentation; or (f) uses the Gear for an illegal purpose. The Borrower authorizes the Lender to collect from a responsible third party any applicable loss and/or damage. In the event the Lender obtains a recovery from a third party after the Borrower has paid the Lender for all or part of any loss, the Lender will refund to the Borrower any excess above the amount of the loss plus administrative fees and other collection costs and legal fees incurred.

  %h3 Service Availability
    
  %p
    PeerGear uses reasonable efforts to ensure that the Service is available 24 hours a day, 7 days a week. However, there will be occasions when the Service may interrupted for maintenance, upgrades and emergency repairs or due to failure of telecommunications links and equipment that are beyond the control of PeerGear. PeerGear will use commercially reasonable efforts to minimize such disruption where it is within the reasonable control of PeerGear. You agree that PeerGear shall not be liable to you for any modification, suspension or discontinuance of the Site or the Service.

  %p
    YOU UNDERSTAND AND AGREE THAT THE SITE AND SERVICE ARE PROVIDED "AS-IS" WITHOUT ANY WARRANTY OF ANY KIND. You are responsible for obtaining access to the Site and any third party fees (such as Internet service provider or airtime charges) that you incur.
    
  %h3 Exclusive Ownership of Rights
  
  %p
    The Site and any software used in connection with the Site contain proprietary and confidential information that is protected by intellectual property laws in applicable jurisdictions. You acknowledge and agree that information and materials presented through the Site are protected by copyrights, trademarks, service marks, patents or other proprietary rights and laws. Except as expressly permitted by applicable law or as authorized by us, you agree not to modify, sell, distribute, transmit, broadcast, publicly perform or create derivative works based on the Site, in whole or in part. Any commercial use of the Site, or any portion thereof, by you is strictly prohibited.
    
  %p
    PeerGear grants you a personal, non-transferable and non-exclusive right and license to use the Site on a computer or other Internet device; provided that you do not (and do not allow any third party to) copy, reproduce, distribute, reverse engineer or otherwise exploit any content, code, data or materials on the Site. You agree not to modify the Site in any manner or form, nor to use modified versions of the Site for any purpose. We do not grant any license or other authorization to any user to use our trade names, trademarks, service marks or other marks or logos or those of our partners without our separate express written agreement. Third party marks are the property of their respective owners.
    
  %p
    Any questions, comments, suggestions, or materials submitted to us through the Site will become our sole property. We will own all rights in such materials, and have the unrestricted right to use, publish and otherwise disseminate such information for any purpose, without attribution or compensation.
    
  %h3 External Links

  %p
    From time to time PeerGear may provide links that will take you to third party website. These links are provided for your convenience only. If you decide to access linked website you do so at your own risk. PeerGear does not endorse or take responsibility for the content on other website or the availability of other website and you agree that PeerGear is not liable for any loss or damage that you may suffer by using other website.
  
  %h3 Amendment

  %p
    We reserve the right to amend these Terms from time to time without notice. Your continued use of the Site constitutes acceptance of any amendments, additions, or modifications to these Terms.
  
  %h3 Eligibility

  %p
    This Service is intended solely for people (18) years of age or older, and any registration, use or access to the Service by anyone under 18 is strictly prohibited. PeerGear reserves the right to limit or restrict access by any person, in our sole discretion.
  %h3 Privacy
  
  %p
    We care about the privacy of our Users. Our Privacy Policy www.pg-platform.herokuapp.com/en/infos/privacy outlines how we use and safeguard your information. By using the Service, you are consenting to have your personal data collected, used, transferred to and processed in the United Kingdom.
    
  %h3 Security

  %p
    We have implemented commercially reasonable technical and organizational measures designed to secure your personal information from accidental loss and from unauthorized access, use, alteration or disclosure. However, we cannot guarantee that unauthorized third parties will never be able to defeat those measures or use your personal information for improper purposes. You acknowledge that you provide your personal information at your own risk.
    
  %h3 Indemnity

  %p
    You agree to indemnify and hold harmless PeerGear and its subsidiaries, agents, licensors, managers, and other affiliated companies, and their employees, contractors, agents, officers and directors, from and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including but not limited to attorney's fees) arising from: (i) your use of and access to the Service, including any data or content transmitted or received by you; (ii) your violation of any term of these Terms, including without limitation your breach of any of the representations and warranties above; (iii) your violation of any third-party right, including without limitation any right of privacy, publicity rights or your account; or (vi) any other party’s access and use of the Service with your unique username, password or other appropriate security code. You will defend PeerGear from and against any such claims at PeerGear request.

  %h3 Disclaimer of Warranties
    
  %p 
    The information and services on this Site are provided "as is" and for informational purposes only. PeerGear makes no representations or warranties that the Site will be suitable for your needs, is complete, timely, reliable, or free from errors, inaccuracies or typographical mistakes. PeerGear disclaims all warranties, express or implied, including warranties of merchantability or fitness for a particular purpose or non-infringement of the rights of others. We do not warrant that the Site will be free of errors or viruses, worms or other destructive or harmful code.
  
  %h3 Limitation of Liability

  %p
    IN NO EVENT SHALL PEERGEAR OR ANY OF OUR DIRECTORS, OFFICERS, EMPLOYEES, AGENTS, AFFILIATES, OR CONTENT OR SERVICE PROVIDERS (COLLECTIVELY, THE "PROTECTED ENTITIES") BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, EXEMPLARY OR PUNITIVE DAMAGES ARISING FROM, OR DIRECTLY OR INDIRECTLY RELATED TO, THE USE OF, OR THE INABILITY TO USE, THE SITE AND THE SERVICES OFFERED HEREBY, OR THE CONTENT, MATERIALS AND FUNCTIONS RELATED THERETO, INCLUDING, WITHOUT LIMITATION, LOSS OF REVENUE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. IN NO EVENT SHALL OUR TOTAL LIABILITY TO YOU FOR ALL DAMAGES, LOSSES, AND CAUSES OF ACTION (WHETHER IN CONTRACT, TORT (INCLUDING, BUT NOT LIMITED TO, NEGLIGENCE, OR OTHERWISE) EXCEED FIVE DOLLARS (£5.00). THE ABOVE LIMITATION MAY NOT APPLY IN ALL JURISIDICTIONS OR TO ALL USERS. IF YOU ARE NOT IN AGREEMENT WITH THE FOREGOING, YOUR SOLE REMEDY IS TO TERMINATE DISCONTINUE USE OF THE SITE.
    
  %p
    The Service is controlled and operated from its facilities in the United Kingdom. PeerGear makes no representations that the Service is appropriate for use in other locations. Those who access or use the Service from other jurisdictions do so at their own volition and are entirely responsible for compliance with all applicable United Kingdom and local laws and regulations, including but not limited to export and import regulations. You may not use the Service if you are a resident of a country embargoed by the United Kingdom, or are a foreign person or entity blocked or denied by the United Kingdom government. Unless otherwise explicitly stated, all materials found on the Service are solely directed to individuals, companies, or other entities located in the United Kingdom.
    
  %h3 Governing Law
    
  %p
    The Service and these Terms are governed by the laws of the United Kingdom (and to the extent applicable, European Law) without giving effect to any principles of conflict of laws. If any provision of these Terms of Use shall be held to be invalid, illegal or unenforceable, the remaining provisions shall not in any way be affected or impaired thereby. Any dispute arising from your use of this Site shall be brought exclusively in the appropriate state or federal courts of the United Kingdom. Persons who choose to access this Site from other locations do so on their own initiative, and are responsible for compliance with local laws, if and to the extent local laws are applicable. Regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to use of the Service or these Terms must be filed within one (1) year after such claim or cause of action arose or be forever barred. If you are a Lender and have a claim against a Borrower, the Rental Contract provides that you must notify us prior to the earlier of (a) two weeks from the return of your Gear in connection with that Rental, or (b) commencement of a subsequent Rental for the same Gear.
    
  %h3 Contact
    
  %p
    Any questions, comments or suggestions, including a report of any violation of these Terms, should be provided to us at contact@PeerGear.io
    
  %h3 DMCA Notice
    
  %p
    Since we respect content owner’s rights, it is PeerGear's policy to respond to alleged infringement notices that comply with the Digital Millennium Copyright Act of 1998 ("DMCA"). If you believe that your copyrighted work has been copied in a way that constitutes copyright infringement and is accessible via the Service, please notify PeerGear's copyright agent as set forth in the DMCA. For your complaint to be valid under the DMCA, you must provide the following information in writing:

  %p
    • An electronic or physical signature of a person authorized to act on behalf of the copyright owner;

  %p
    • Identification of the copyrighted work that you claim has been infringed; Identification of the material that is claimed to be infringing and where it is located on the Service;

  %p
    • Information reasonably sufficient to permit PeerGear to contact you, such as your address, telephone number, and, e-mail address;

  %p
    • A statement that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or law; and

  %p
    • A statement, made under penalty of perjury, that the above information is accurate, and that you are the copyright owner or are authorized to act on behalf of the owner.

  %p
    The above information must be submitted to the following DMCA Agent: 

  %p
    Attn: 
    %br
      PeerGear Ltd.
      %br
        DMCA Notice 
        %br
          Address: Flat 6, 80 Copenhagen Street
          %br
            London N1 0JW
            %br
              United Kingdom 
              %br
                Email: contact@peergear.io

  %p
    Please note that this procedure is exclusively for notifying PeerGear and its affiliates that your copyrighted material has been infringed. The preceding requirements are intended to comply with PeerGear's rights and obligations under the DMCA, including 17 U.S.C. 512(c), but do not constitute legal advice. It may be advisable to contact an attorney regarding your rights and obligations under the DMCA and other applicable laws.
    In accordance with the DMCA and other applicable law, PeerGear has adopted a policy of terminating, in appropriate circumstances and at PeerGear's sole discretion, members who are deemed to be repeat infringers. PeerGear may also at its sole discretion limit access to the Service and/or terminate the accounts of any Users who infringe any intellectual property rights of others, whether or not there is any repeat infringement.

  %h3 Contact Information

  %p
    Users may submit feedback to PeerGear using the feedback link included on the Site. Alternatively, PeerGear may be contacted as follows:

  %p
    PeerGear Ltd
    %br
      16B Eckstein Road
      %br
        London SW11 1QF
        %br
          United Kingdom
          %br
            Email: hello@peergear.io
            %br 
              Phone: +44 75141 43203

